name: ProtonVPN IP Scraper

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every 24 hours at midnight UTC
  workflow_dispatch:  # Allows manual trigger

jobs:
  scrape-protonvpn-ips:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run ProtonVPN IP Scraper
        run: |
          python main.py
          
          if [ -n "$AUTH_TOKEN" ] && [ -n "$REFRESH_TOKEN" ] && [ -n "$SESSION_ID" ]; then
            echo "TOKENS_UPDATED=true" >> $GITHUB_ENV
          fi
        env:
          AUTH_PM_UID: ${{ secrets.AUTH_PM_UID }}
          AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
          SESSION_ID: ${{ secrets.SESSION_ID }}
          WEB_APP_VERSION: ${{ secrets.WEB_APP_VERSION }}

      - name: Run Get ProtonVPN Entry IPs
        run: python entry_ips.py

      - name: Update GitHub Secrets
        if: env.TOKENS_UPDATED == 'true'
        run: |
          # Install GitHub CLI
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt update
          sudo apt install gh
          
          # Authenticate GitHub CLI
          echo "${{ secrets.GH_TOKEN }}" | gh auth login --with-token
          
          # Update secrets - environment variables are already set by main.py
          echo "$AUTH_TOKEN" | gh secret set AUTH_TOKEN -R $GITHUB_REPOSITORY
          if [ $? -eq 0 ]; then echo "Successfully updated AUTH_TOKEN"; else echo "Failed to update AUTH_TOKEN"; fi
          
          echo "$REFRESH_TOKEN" | gh secret set REFRESH_TOKEN -R $GITHUB_REPOSITORY
          if [ $? -eq 0 ]; then echo "Successfully updated REFRESH_TOKEN"; else echo "Failed to update REFRESH_TOKEN"; fi
          
          echo "$SESSION_ID" | gh secret set SESSION_ID -R $GITHUB_REPOSITORY
          if [ $? -eq 0 ]; then echo "Successfully updated SESSION_ID"; else echo "Failed to update SESSION_ID"; fi

      - name: Commit and Push Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add protonvpn_ips.json protonvpn_ips.txt protonvpn_logicals.json protonvpn_entry_ips.json protonvpn_entry_ips.txt protonvpn_subdomains.json
          git commit -m "Update ProtonVPN IPs [skip ci]" || echo "No changes to commit"
          git push